node_modules/
dist/
.DS_Store
.turbo/
.env
.env.local
apps/api/.env
apps/api/.env.local
apps/api/dist/
apps/api/artifacts/
apps/miniapp/.private/
apps/miniapp/artifacts/
apps/miniapp/miniprogram/config/private.ts
apps/miniapp/miniprogram/app.js
apps/miniapp/miniprogram/envList.js
apps/miniapp/miniprogram/custom-tab-bar/index.js
apps/miniapp/miniprogram/pages/**/index.js
