node_modules/
dist/
.DS_Store
.turbo/
apps/api/dist/
apps/miniapp/miniprogram/app.js
apps/miniapp/miniprogram/envList.js
apps/miniapp/miniprogram/custom-tab-bar/index.js
apps/miniapp/miniprogram/pages/**/index.js
